In [20]:
import pandas as pd
from load_data import load_data
from col_list import col_list

dir = '~/DSI/covid-symptom-searches/data/'
nrows=2000000
usecols = col_list()

hospitalizations, searches, index = load_data(dir,nrows,usecols)

In [21]:
# Explore hospitalizations
df = hospitalizations
print(df.shape)                    
df.describe()

(643715, 11)

,new_hospitalized,total_hospitalized,current_hospitalized,new_intensive_care,total_intensive_care,current_intensive_care,new_ventilator,total_ventilator,current_ventilator
count,574900.000000,566891.000000,86040.000000,329297.000000,330261.000000,85355.000000,6023.000000,5007.000000,17161.000000
mean,11.153307,2461.954023,862.837913,2.760921,625.491575,128.188694,0.661464,155.341722,153.868539
std,106.307261,21230.490066,2783.470133,25.078235,6269.797362,401.800119,2.751791,331.386792,362.582747
min,-12257.000000,0.000000,0.000000,-126.000000,0.000000,0.000000,-24.000000,0.000000,0.000000
25%,0.000000,15.000000,49.000000,0.000000,3.000000,5.000000,0.000000,2.000000,14.000000
50%,1.000000,48.000000,178.000000,0.000000,15.000000,21.000000,0.000000,8.000000,49.000000
75%,2.000000,254.000000,601.000000,1.000000,91.000000,87.000000,1.000000,83.500000,134.000000
max,16373.000000,696248.000000,39249.000000,1051.000000,216788.000000,7148.000000,69.000000,1533.000000,4077.000000

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 643715 entries, 0 to 643714
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   date                    643715 non-null  object
 1   key                     643715 non-null  object
 2   new_hospitalized        574900 non-null  float64
 3   total_hospitalized      566891 non-null  float64
 4   current_hospitalized    86040 non-null   float64
 5   new_intensive_care      329297 non-null  float64
 6   total_intensive_care    330261 non-null  float64
 7   current_intensive_care  85355 non-null   float64
 8   new_ventilator          6023 non-null    float64
 9   total_ventilator        5007 non-null    float64
 10  current_ventilator      17161 non-null   float64
dtypes: float64(9), object(2)
memory usage: 54.0+ MB

In [23]:
print(list(df.columns))
df.head() # for hospitalizations

['date', 'key', 'new_hospitalized', 'total_hospitalized', 'current_hospitalized', 'new_intensive_care', 'total_intensive_care', 'current_intensive_care', 'new_ventilator', 'total_ventilator', 'current_ventilator']

,date,key,new_hospitalized,total_hospitalized,current_hospitalized,new_intensive_care,total_intensive_care,current_intensive_care,new_ventilator,total_ventilator,current_ventilator
0,2019-12-31,TH,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-01,ES,8.0,8.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,2020-01-01,ES_AN,3.0,3.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,2020-01-01,ES_AR,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,2020-01-01,ES_AS,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [24]:
# Explore searches
df = searches
print(df.shape)                    
df.describe()

(1425194, 31)

,search_trends_ageusia,search_trends_angina_pectoris,search_trends_anosmia,search_trends_cardiac_arrest,search_trends_chest_pain,search_trends_chills,search_trends_common_cold,search_trends_confusion,search_trends_cough,search_trends_diarrhea,...,search_trends_nasal_polyp,search_trends_nausea,search_trends_pneumonia,search_trends_shallow_breathing,search_trends_shortness_of_breath,search_trends_sleep_disorder,search_trends_sore_throat,search_trends_vertigo,search_trends_viral_pneumonia,search_trends_vomiting
count,59893.000000,272742.000000,71141.000000,195766.000000,416475.000000,156531.000000,1.018393e+06,135875.000000,752817.000000,723147.000000,...,58792.000000,486733.000000,358216.000000,39905.000000,304772.000000,514164.000000,441089.000000,357238.000000,29324.000000,567104.000000
mean,0.161430,0.751885,0.207370,0.470911,1.426998,0.325521,1.088238e+01,0.273550,5.062569,3.956908,...,0.106697,2.016917,1.265277,0.075952,0.834168,2.264202,1.774974,1.125797,0.080790,2.651997
std,0.126738,0.227578,0.189201,0.158972,0.379100,0.134389,7.455210e+00,0.133758,2.636611,0.991382,...,0.039968,0.496142,0.697219,0.038483,0.300667,0.542279,0.715618,0.305249,0.059879,0.746392
min,0.020000,0.100000,0.020000,0.070000,0.170000,0.060000,1.160000e+00,0.070000,0.580000,0.790000,...,0.030000,0.350000,0.100000,0.020000,0.110000,0.410000,0.220000,0.150000,0.010000,0.480000
25%,0.090000,0.600000,0.110000,0.370000,1.180000,0.240000,6.560000e+00,0.210000,3.320000,3.320000,...,0.080000,1.690000,0.810000,0.060000,0.650000,1.910000,1.290000,0.930000,0.040000,2.160000
50%,0.120000,0.720000,0.160000,0.450000,1.370000,0.300000,8.250000e+00,0.260000,4.210000,3.840000,...,0.100000,1.960000,1.050000,0.070000,0.770000,2.220000,1.590000,1.080000,0.060000,2.540000
75%,0.190000,0.870000,0.240000,0.550000,1.620000,0.380000,1.178000e+01,0.310000,5.930000,4.460000,...,0.120000,2.290000,1.500000,0.080000,0.930000,2.560000,2.090000,1.270000,0.100000,3.040000
max,2.800000,4.090000,6.570000,10.650000,10.720000,3.290000,9.138000e+01,4.540000,53.140000,49.700000,...,3.000000,7.110000,32.820000,2.310000,13.570000,10.780000,12.350000,5.310000,2.140000,50.690000

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1425194 entries, 0 to 1425193
Data columns (total 31 columns):
 #   Column                             Non-Null Count    Dtype
---  ------                             --------------    -----
 0   date                               1425194 non-null  object
 1   key                                1425194 non-null  object
 2   search_trends_ageusia              59893 non-null    float64
 3   search_trends_angina_pectoris      272742 non-null   float64
 4   search_trends_anosmia              71141 non-null    float64
 5   search_trends_cardiac_arrest       195766 non-null   float64
 6   search_trends_chest_pain           416475 non-null   float64
 7   search_trends_chills               156531 non-null   float64
 8   search_trends_common_cold          1018393 non-null  float64
 9   search_trends_confusion            135875 non-null   float64
 10  search_trends_cough                752817 non-null   float64
 11  search_trends_diarrhea             723147 non-null   float64
 12  search_trends_dizziness            434030 non-null   float64
 13  search_trends_dysgeusia            74784 non-null    float64
 14  search_trends_fatigue              769407 non-null   float64
 15  search_trends_fever                746803 non-null   float64
 16  search_trends_headache             743612 non-null   float64
 17  search_trends_hypersomnia          57051 non-null    float64
 18  search_trends_low_grade_fever      130866 non-null   float64
 19  search_trends_myalgia              231139 non-null   float64
 20  search_trends_nasal_congestion     398090 non-null   float64
 21  search_trends_nasal_polyp          58792 non-null    float64
 22  search_trends_nausea               486733 non-null   float64
 23  search_trends_pneumonia            358216 non-null   float64
 24  search_trends_shallow_breathing    39905 non-null    float64
 25  search_trends_shortness_of_breath  304772 non-null   float64
 26  search_trends_sleep_disorder       514164 non-null   float64
 27  search_trends_sore_throat          441089 non-null   float64
 28  search_trends_vertigo              357238 non-null   float64
 29  search_trends_viral_pneumonia      29324 non-null    float64
 30  search_trends_vomiting             567104 non-null   float64
dtypes: float64(29), object(2)
memory usage: 337.1+ MB

In [26]:
df.head() # for searches

,date,key,search_trends_ageusia,search_trends_angina_pectoris,search_trends_anosmia,search_trends_cardiac_arrest,search_trends_chest_pain,search_trends_chills,search_trends_common_cold,search_trends_confusion,...,search_trends_nasal_polyp,search_trends_nausea,search_trends_pneumonia,search_trends_shallow_breathing,search_trends_shortness_of_breath,search_trends_sleep_disorder,search_trends_sore_throat,search_trends_vertigo,search_trends_viral_pneumonia,search_trends_vomiting
0,2020-01-01,AU,0.05,0.61,0.06,0.41,1.44,0.23,8.29,0.27,...,0.12,2.78,1.07,0.08,0.76,2.99,2.40,1.36,0.05,4.23
1,2020-01-01,AU_ACT,NaN,NaN,NaN,NaN,1.21,NaN,7.25,NaN,...,NaN,2.39,1.02,NaN,1.39,2.39,1.72,1.29,NaN,4.08
2,2020-01-01,AU_NSW,NaN,0.58,NaN,1.27,1.78,0.25,8.79,0.27,...,0.07,3.56,1.00,NaN,0.78,2.67,2.28,1.31,0.10,4.57
3,2020-01-01,AU_NT,NaN,NaN,NaN,NaN,NaN,NaN,11.79,NaN,...,NaN,3.23,2.24,NaN,NaN,3.48,NaN,NaN,NaN,5.47
4,2020-01-01,AU_QLD,0.09,0.47,NaN,0.42,1.05,0.36,10.44,0.31,...,0.14,2.38,1.37,NaN,0.67,3.01,2.97,1.64,0.22,3.47

In [27]:
# Explore index
df = index
print(df.shape)

(22578, 15)

In [28]:
df.head() # for index

,key,place_id,wikidata,datacommons,country_code,country_name,subregion1_code,subregion1_name,subregion2_code,subregion2_name,locality_code,locality_name,3166-1-alpha-2,3166-1-alpha-3,aggregation_level
0,AD,ChIJlfCemC71pRIRkn_qeNc-yQc,Q228,country/AND,AD,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,AD,AND,0
1,AE,ChIJvRKrsd9IXj4RpwoIwFYv0zM,Q878,country/ARE,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,AE,ARE,0
2,AF,ChIJbQL_-LZu0TgReNqWvg1GtfM,Q889,country/AFG,AF,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,AF,AFG,0
3,AF_BAL,ChIJWZOescNSyzgRkmVJ8fmfR3k,Q121104,NaN,AF,Afghanistan,BAL,Balkh,NaN,NaN,NaN,NaN,AF,AFG,1
4,AF_BAM,ChIJw-bKQwDr0jgRQiw8jHsQ-HI,Q171382,NaN,AF,Afghanistan,BAM,Bamyan,NaN,NaN,NaN,NaN,AF,AFG,1